<div class="homepage">
  <nav class="nav">
    <h2 style="font-weight: bold">SplitBills</h2>

    <a class="nav_brand" routerLinkActive="active-link" [routerLink]="'/login'"
      >Sign In
    </a>
  </nav>

  <section class="main">
    <div class="main_left">
      <p class="main-text">Split the bill, not the stress.💸</p>
      <p class="main-text_small">fast.easy.unlimited split services</p>
      <p class="main-text_small">#ExpenseManagement #SplitWise</p>
      <div class="button">
        <button
          class="main_btn"
          routerLinkActive="active-link"
          [routerLink]="'/signup'"
        >
          Try it for free &rightarrow;
        </button>
      </div>
    </div>
    <div class="main_right">
      <img
        src="../assets/img/split1.jpg"
        class="main_img main_img-right"
        alt="Image"
      />
      <img
        src="../assets/img/split2.jpg"
        alt="Image"
        class="main_img main_img-left"
      />
      <div class="dot"></div>
      <div class="dot2"></div>
    </div>
  </section>
</div>
