<div class="add">
  <form [formGroup]="detailsForm" class="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Select email:</label>
      <select class="form-control" formControlName="selectedOption" id="email">
        <option value="">Select an option</option>
        <option *ngFor="let option of options" [value]="option.email">
          {{ option.email }}
        </option>
      </select>
    </div>
    <div
      *ngIf="
        detailsForm.get('selectedOption')?.invalid &&
        detailsForm.get('selectedOption')?.touched
      "
    >
      <p class="help-group">This field is required!</p>
    </div>

    <div class="button">
      <button
        class="button_submit"
        type="submit"
        [disabled]="!detailsForm.valid"
      >
        Submit
      </button>
      <button class="button_cancel" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
