<div class="container">
  <form [formGroup]="myForm" class="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="email"
        placeholder="Enter your email"
      />
    </div>
    <div
      class="help-group"
      *ngIf="!myForm.get('email')?.valid && myForm.get('email')?.touched"
    >
      Enter valid email
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        id="password"
        placeholder="Enter your password"
      />
    </div>
    <div
      class="help-group"
      *ngIf="myForm.get('password')?.touched && !myForm.get('password')?.valid"
    >
      Enter valid password
    </div>
    <div class="submit">
      <button class="submit_button" type="submit" [disabled]="!myForm.valid">
        Submit
      </button>
    </div>
    <hr />
    <div class="redirect">
      <p>
        Don't have an account?&nbsp; <a [routerLink]="'/signup'">SignUp!</a>
      </p>
    </div>
  </form>
</div>
