<section class="main">
  <div class="main_sidebar">
    <div class="main_sidebar-heading">
      <a href="#">SplitBills</a>
    </div>
    <div class="main_sidebar-content">
      <div class="main_sidebar-dash">
        <img
          src="../../assets/img/list.png"
          alt="Menu icon"
          class="main_sidebar-icon"
        />
        <p>Dashboard</p>
      </div>
      <div class="main_sidebar-dash">
        <img
          src="../../assets/img/wall-clock.png"
          alt="Recent activity icon"
          class="main_sidebar-icon"
        />
        <p>Recent activity</p>
      </div>

      <div class="main_sidebar-dash">
        <img
          src="../../assets/img/plus.png"
          alt="Add icon"
          class="main_sidebar-plus"
        />
        <p>Add friends</p>
      </div>
    </div>
  </div>
  <div class="main_header">
    <p class="main_header-greet">Hello, user</p>
    <div class="main_header-right">
      <button class="main_header-plus">Add expenses</button>

      <div class="dropdown" [class.open]="isOpen">
        <button
          class="dropdown-toggle dropdown_btn"
          type="button"
          (click)="onOpen()"
          data-toggle="dropdown"
        >
          <img
            src="../../assets/img/user.png"
            alt="User image"
            class="dropdown_user"
          />

          <span class="caret dropdown_caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a [routerLink]="'/login'">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main_content">Content</div>

  <div class="main_details">Details</div>
</section>
