<section class="main" [ngClass]="{ blur: showAdd }">
  <div class="main_sidebar">
    <div class="main_sidebar-heading">
      <a href="#">SplitBills</a>
    </div>
    <div class="main_sidebar-content">
      <div class="main_sidebar-dash">
        <img
          src="../../assets/img/list.png"
          alt="Menu icon"
          class="main_sidebar-icon"
        />
        <p>Dashboard</p>
      </div>
      <div class="main_sidebar-dash">
        <img
          src="../../assets/img/wall-clock.png"
          alt="Recent activity icon"
          class="main_sidebar-icon"
        />
        <p>Recent activity</p>
      </div>

      <div class="main_sidebar-dash">
        <div class="main_sidebar-dash--flex" (click)="showFriends()">
          <img
            src="../../assets/img/down_arrow.png"
            alt="Down arrow"
            class="main_sidebar-down"
            *ngIf="!showAllFriends"
          />
          <img
            src="../../assets/img/up_arrow.png"
            alt="Up arrow"
            class="main_sidebar-down"
            *ngIf="showAllFriends"
          />
          <p>Friends</p>
        </div>

        <img
          src="../../assets/img/plus.png"
          alt="Add icon"
          class="main_sidebar-plus"
          (click)="showAddPopup()"
        />
      </div>
      <div class="main_sidebar-hidden" *ngIf="showAllFriends">
        <div
          class="main_sidebar-hidden--friends"
          *ngFor="let friend of currentUserDetails.friends"
        >
          <p>{{ friend.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="main_header">
    <p
      class="main_header-greet"
      *ngIf="currentUserDetails && currentUserDetails[0]"
    >
      Hello, {{ currentUserDetails[0].name }}!!
    </p>
    <div class="main_header-right">
      <button class="main_header-plus">Add expenses</button>

      <div class="dropdown" [class.open]="isOpen">
        <button
          class="dropdown-toggle dropdown_btn"
          type="button"
          (click)="onOpen()"
          data-toggle="dropdown"
        >
          <img
            src="../../assets/img/user.png"
            alt="User image"
            class="dropdown_user"
          />

          <span class="caret dropdown_caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main_content">Content</div>

  <div class="main_details">Details</div>
</section>
<app-add-popup *ngIf="showAdd" (hide)="showAdd = $event"></app-add-popup>
