<section
  class="main"
  [ngClass]="{ blur: showAdd || showDelete || showAddExpense }"
>
  <div class="main_sidebar">
    <div class="main_sidebar-heading">
      <a href="#">SplitBills</a>
    </div>
    <div class="main_sidebar-content">
      <div class="main_sidebar-dash">
        <img
          src="../../assets/img/list.png"
          alt="Menu icon"
          class="main_sidebar-icon"
        />
        <p>Dashboard</p>
      </div>
      <div class="main_sidebar-dash">
        <img
          src="../../assets/img/wall-clock.png"
          alt="Recent activity icon"
          class="main_sidebar-icon"
        />
        <p>Recent activity</p>
      </div>

      <div class="main_sidebar-dash">
        <div class="main_sidebar-dash--flex" (click)="showFriends()">
          <img
            src="../../assets/img/down_arrow.png"
            alt="Down arrow"
            class="main_sidebar-down"
            *ngIf="!showAllFriends"
          />
          <img
            src="../../assets/img/up_arrow.png"
            alt="Up arrow"
            class="main_sidebar-down"
            *ngIf="showAllFriends"
          />
          <p>Friends</p>
        </div>

        <img
          src="../../assets/img/plus.png"
          alt="Add icon"
          class="main_sidebar-plus"
          (click)="showAdd = true"
        />
      </div>
      <div class="main_sidebar-hidden" *ngIf="showAllFriends">
        <div
          class="main_sidebar-hidden--friends"
          *ngFor="let friend of currentUserDetails[0].friends"
        >
          <p>
            {{ friend.name }}
          </p>
          <img
            src="../../assets/img/bin.png"
            alt="Delete icon"
            class="delete_icon"
            *ngIf="currentUserDetails[0].friends"
            (click)="deleteFriend(friend)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="main_header">
    <p
      class="main_header-greet"
      *ngIf="currentUserDetails && currentUserDetails[0]"
    >
      Hello, {{ currentUserDetails[0].name }}!!
    </p>
    <div class="main_header-right">
      <button class="main_header-plus" (click)="showAddExpense = true">
        Add expenses
      </button>

      <div class="dropdown" [class.open]="isOpen">
        <button
          class="dropdown-toggle dropdown_btn"
          type="button"
          (click)="onOpen()"
          data-toggle="dropdown"
        >
          <img
            src="../../assets/img/user.png"
            alt="User image"
            class="dropdown_user"
          />

          <span class="caret dropdown_caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main_content">
    <div
      class="main_content-details"
      *ngFor="let expense of currentUserDetails[0]?.expenses"
    >
      <div class="main_content-details--flex2">
        <p class="main_content-details--flex2-date">
          {{ expense.date | date : "dd/MM/yy" }}
        </p>
        <p class="main_content-details--flex2-category">
          {{ expense.category }}
        </p>
      </div>
      <div class="main_content-details--amount">
        <span class="main_content-details--amount-head">You paid</span>

        <span class="main_content-details--amount-text"
          >₹ {{ expense.amountToBePaid }}</span
        >
      </div>
      <div class="main_content-details--amount">
        <span class="main_content-details--amount-head">You lent</span>
        <span class="main_content-details--amount-text"
          >₹ {{ expense.amountToBeReceived }}</span
        >
      </div>
      <img
        src="../../assets/img/bin.png"
        alt="Delete icon"
        class="main_content-details--icon"
        (click)="deleteExpense(expense)"
      />
    </div>
  </div>

  <div class="main_details">
    <div *ngFor="let amount of currentUserDetails[0]?.bankAccountDetails">
      <h3>Bank Details</h3>
      <div class="main_details-lent">
        <p class="main_details-lent-text">You lent</p>
        <p class="main_details-lent-amount">
          {{ amount.youLent }} <span>₹</span>
        </p>
      </div>
      <div class="main_details-lent">
        <p class="main_details-lent-text">You Paid</p>
        <p class="main_details-lent-amount">
          {{ amount.youPaid }} <span>₹</span>
        </p>
      </div>
    </div>
  </div>
</section>
<app-add-popup
  *ngIf="showAdd && allFriends"
  (hide)="showAdd = $event"
  [options]="allFriends"
  (friendSelected)="onFriendSelected($event)"
></app-add-popup>
<app-delete-popup
  *ngIf="showDelete"
  (showModal)="showDelete = $event"
  (confirmDelete)="onConfirmDelete($event)"
></app-delete-popup>
<app-add-expense
  *ngIf="showAddExpense"
  (show)="showAddExpense = $event"
  [options]="allFriends"
  (details)="onGettingDetails($event)"
></app-add-expense>

<app-expense-delete
  *ngIf="showDeleteExpense"
  (show)="showDeleteExpense = $event"
  (confirmDelete)="onDeleteExpense($event)"
></app-expense-delete>
