.help-group {
  color: red;
  margin-bottom: 1rem;
}
.form {
  width: 50%;
  padding: 3rem;
  margin: 5% auto;
  border: 1px solid #000;
  border-radius: 20px;
}
.form-group {
  margin-bottom: 1rem;
}
.submit {
  display: flex;
  // justify-content: center;
  &_button {
    padding: 1rem 3rem;
    border-radius: 12px;
    background-color: #ddd;

    &:hover {
      cursor: pointer;
    }
  }
}

.redirect {
  display: flex;
  justify-content: center;
  align-items: center;
}
