<div class="container">
  <form [formGroup]="myForm" class="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fname">First name:</label>
      <input
        type="text"
        class="form-control"
        formControlName="fname"
        id="fname"
        placeholder="Enter your first name"
      />
    </div>
    <div
      class="help-group"
      *ngIf="!myForm.get('fname')?.valid && myForm.get('fname')?.touched"
    >
      *required
    </div>

    <div class="form-group">
      <label for="lname">Last name:</label>
      <input
        type="text"
        class="form-control"
        formControlName="lname"
        id="lname"
        placeholder="Enter your last name"
      />
    </div>
    <div
      class="help-group"
      *ngIf="!myForm.get('lname')?.valid && myForm.get('lname')?.touched"
    >
      *required
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="email"
        placeholder="Enter your email"
      />
    </div>
    <div
      class="help-group"
      *ngIf="!myForm.get('email')?.valid && myForm.get('email')?.touched"
    >
      Enter valid email
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        id="password"
        placeholder="Enter your password"
      />
    </div>
    <div
      class="help-group"
      *ngIf="myForm.get('password')?.touched && !myForm.get('password')?.valid"
    >
      Enter valid password
    </div>
    <p class="help-group" *ngIf="error">{{ error }}</p>

    <div class="submit">
      <button class="submit_button" type="submit" [disabled]="!myForm.valid">
        Submit
      </button>
    </div>
    <hr />
    <div class="redirect">
      <p>
        Already have an account? &nbsp;<a [routerLink]="'/login'">Sign In</a>
      </p>
    </div>
  </form>
</div>
