<div class="expense">
  <form [formGroup]="billDetails" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Select friend with whom you want to split bill:</label>
      <div id="email">
        <ng-multiselect-dropdown
          formControlName="email"
          [settings]="dropdownSettings"
          [data]="dropDownList"
          (onSelect)="onSelectEmail($event)"
          (onDeSelect)="onDeSelectEmail($event)"
        ></ng-multiselect-dropdown>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        formControlName="description"
        id="description"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input
        type="text"
        formControlName="amount"
        id="amount"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="splitBill">Split Bill Equally</label>
      <input
        type="checkbox"
        class="input-checkbox"
        formControlName="splitBill"
        id="splitBill"
      />
    </div>

    <div *ngIf="!billDetails.get('splitBill')?.value">
      <div
        *ngFor="
          let percentage of billDetails.get('percentages')?.value;
          let i = index
        "
      >
        <label for="percentage{{ i }}"
          >Percentage for {{ selectedEmails[i] }}</label
        >
        <input
          type="number"
          class="form-control"
          id="percentage{{ i }}"
          min="0"
          max="100"
          formControlName="percentages[{{ i }}]"
        />
      </div>
    </div>

    <button class="button button_submit">Submit</button>
    <button class="button button_cancel" (click)="onCancel()">Cancel</button>
  </form>
</div>
